!!! 5
-# Basic layout template
%html{ :lang => "en" }
  %head
    %title= @title
    %link{ :href => "/style.css", :rel => "stylesheet", :type => "text/css", :media=> "screen", :charset=> "utf-8" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :src => "relCopy.jquery.js" }
    :javascript 
      // derived from http://www.andresvidal.com/labs/relcopy.html
      $(function(){
        var removeLink = ' <a class="remove" href="#" onclick="$(this).parent().slideUp(function(){ $(this).remove() }); return false">remove</a>';
        $('a.copy').relCopy({limit:5, append:removeLink});
      });
  %body
    %nav
      %ul
        %li
          %a{ :href => "/list"} List
        %li
          %a{ :href => "/new"} New
    %section
      %header
        %h1#title= @title
      = yield