!!! 5
-# Basic layout template
%html{ :lang => "en" }
  %head
    %title= @title
    %link{ :href => "/style.css", :rel => "stylesheet", :type => "text/css", :media=> "screen", :charset=> "utf-8" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :src => "public/jquery.clonefield.js" }
    :javascript 
      
  %body
    %nav
      %ul
        %li
          %a{ :href => "/list"} List
        %li
          %a{ :href => "/new"} New
    %section
      %header
        %h1#title= @title
      = yield