%form{ :action => "/create", :method => "post", :id => "pae" }
  %input{ :type => "hidden", :name => "author_count", :id => "author_count", :value => "2" }
  %fieldset
    %legend Document
    %label(for="title") Title 
    %input{ :type => "text", :name => "data[pae][title]", :id => "title" }
    %br
    %label{ :for => "date" } 
      Date Published 
      %span.hint yyyymmdd
    %input{ :type => "text", :name => "data[pae][date]", :id => "date" }
    %br
    %label{ :for => "url" }
      URL
    %input{ :type => "text", :name => "data[pae][url]", :id => "url" }
    %br
    %label{ :for => "classified" } Classified?
    %input{ :type => "checkbox", :name => "data[pae][classified]", :id => "classified" }
  %fieldset.author
    %legend Author
    %label(for="author_huid") Harvard ID #
    %input{ :type => "text", :name => "author[huid][]", :id => "author_huid" }
    %br
    %label(for="author_fname") First Name
    %input{ :type => "text", :name => "author[fname][]", :id => "author_fname" }
    %br
    %label(for="author_lname") Last Name
    %input{ :type => "text", :name => "author[lname][]", :id => "author_lname" }
  %p
    %a.copy{ :href => "#", :rel => ".author"}
      Add an Author
  %fieldset.advisor
    %legend Advisor 
    %label(for="advisor_0_fname") First Name
    %input{ :type => "text", :name => "data[advisor][0][fname]", :id => "advisor_fname" }
    %br
    %label(for="advisor_0_lname") Last Name
    %input{ :type => "text", :name => "data[advisor][0][lname]", :id => "advisor_lname" }
  %fieldset.client
    %legend Client 1
    %label(for="org_name") Org. Name
    %input{ :type => "text", :name => "data[client][0][org_name]", :id => "org_name" }
    %br
    %label(for="contact_0_fname") Contact First Name
    %input{ :type => "text", :name => "data[contact][0][fname]", :id => "fname" }
    %br
    %label(for="contact_0_lname") Contact Last Name
    %input{ :type => "text", :name => "data[contact][0][lname]", :id => "lname" }    
    %br
    %label(for="contact_0_position") Contact Position
    %input{ :type => "text", :name => "data[contact][0][position]", :id => "position" }
  %fieldset.area
    %legend Policy Area
    -# Make checkboxes from hash table for each abbreviation => name in Area class
    - @areas.each do |area|
      %label{ :for => area.slug }
        = area.title
      %input{ :type => "checkbox", :name => "data[paes][area_slug][]", :id => area.slug, :value => area.slug }
      %br
  %input{ :type => "submit", :value => "Submit" }
