%form{ :action => "/create", :method => "post", :id => "pae" }
  %input{ :type => "hidden", :name => "author_count", :id => "author_count", :value => "2" }
  %fieldset
    %legend Document
    %label(for="title") Title 
    %input{ :type => "text", :name => "data[pae][title]", :id => "title" }
    %br
    %label{ :for => "date" } 
      Date Published 
      %span.hint yyyymmdd
    %input{ :type => "text", :name => "data[pae][date]", :id => "date" }
    %br
    %label{ :for => "classified" } Classified?
    %input{ :type => "checkbox", :name => "data[pae][classified]", :id => "classified" }
  %fieldset.author
    %legend Author 1
    %label(for="huid_1") Harvard ID #
    %input{ :type => "text", :name => "data[author][huid_1]", :id => "huid_1" }
    %br
    %label(for="fname_1") First Name
    %input{ :type => "text", :name => "data[author][fname_1]", :id => "author_fname_1" }
    %br
    %label(for="lname_1") Last Name
    %input{ :type => "text", :name => "data[author][lname_1]", :id => "author_lname_1" }

  %p 
    %a{ :href => "#", :id => "addfield" }
      Add an Author
  %fieldset.advisor
    %legend Advisor 1
    %label(for="fname_1") First Name
    %input{ :type => "text", :name => "data[advisor][fname_1]", :id => "advisor_fname_1" }
    %br
    %label(for="lname_1") Last Name
    %input{ :type => "text", :name => "data[advisor][lname_1]", :id => "advisor_lname_1" }

  %p 
    %a{ :href => "#", :id => "addfield" }
      Add an Advisor
  %fieldset.client
    %legend Client 1
    %label(for="org_name_1") Org. Name
    %input{ :type => "text", :name => "data[client][org_name_1]", :id => "org_name_1" }
    %br
    %label(for="contact_fname_1") Contact First Name
    %input{ :type => "text", :name => "data[contact][fname_1]", :id => "fname_1" }
    %br
    %label(for="contact_lname_1") Contact Last Name
    %input{ :type => "text", :name => "data[contact][lname_1]", :id => "lname_1" }    
    %br
    %label(for="contact_position_1") Contact Position
    %input{ :type => "text", :name => "data[contact][position_1]", :id => "position_1" }
  %p 
    %a{ :href => "#", :id => "addfield" }
      Add a Client
  %input{ :type => "submit", :value => "Submit" }
