%h2.title= @pae.title
%h3.date= @pae.date
%ul.authors
  -# print each author's name
  - @pae.authors.each do |author,i|
    %li.author= author.fname + ' ' + author.lname
%p
  -# convert pae_id to string using builtin method, add xml extension
  %a{ :href => @pae.id.to_s + ".xml" } xml
