//# Define color constants
!background = #E9E6D9
!header = #483630
!accent = #ffffff
!link = #CE482B
!text = #373530
!highlight = #3981A0
!highlighter = #77C0D9

body
  :font
    :family georgia
    :size 12px/18px
  :margin 40px
  :background = !background
nav ul li
  :display inline
  :padding-right 6px
  :font-size 18px
  :color = !text
a, a:hover 
  :color = !link
h1, h2, h3, h4, h5, h6, legend, label
  :font
    :family helvetica
  :color = !header
h1, h2, h3, h4, h5, h6
  :text-shadow = !accent 1px 1px 0px 
h1
  :margin-bottom 36px
form
  :width 750px
label
  :padding 6px 6px 0
  :text-align right
  :float left
  :width 150px
.area label
  :width 290px
  :padding 1px 6px 0
input
  :margin-bottom 24px
  :padding 2px
  :font-size 14px
.hint
  :color = !header
  :font
    :size 11px
fieldset
  :border 0
  :padding-left 0
  :margin-top 24px
  :width 550px
legend
  :color = !highlight
  :text-align left
  :font-size 18px
.copy
  :background
    :image url('img/16-em-plus.png')
    :repeat no-repeat
    :position left top
.remove
  :background
    :image url('img/16-em-cross.png')
    :repeat no-repeat
    :position left top
a.copy, a.remove
  :padding-left 20px
li.area 
  :display inline
  :list-style-type none
  :background-color = !highlighter
  :border = !highlight 1px "solid"
  :padding 3px